@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-900 text-white;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-neutral-800;
}
::-webkit-scrollbar-thumb {
  @apply bg-neutral-600 rounded-full;
}
